@use "../variables";

.main-title {
  text-align: center;
  margin-top: 50px;
}

.frame {
  background-color: variables.$background-secondary-color;
  height: 100rem;
  margin: 100px;
  border-radius: 33px;
}
